.fuck {
    display: none;
    opacity: 0;
    transition: all 1s 100ms;
}

.fade {
    opacity: 1;
}

body {
    height: 100vh;
    font-size: inherit
}

.damit {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 300px;
}

.damit .left {
    flex-grow: 1;
    background: #A12;
}

.damit .right {
    flex-grow: 1;
    background: #794;
}
.wrapper {
    margin-top: 200px;
}
.dj {
    opacity: 0;
    transform: translateY(-20%);
    transition: all 1s ease-in-out;
}
.aj {
    margin-bottom: 200px;
}
.dumf {
    text-align: center;
    padding: 9px 10px;
    margin-bottom: 200px;
}
.dum {
    display: inline-block;
    width: 200px;
    height: 200px; 
    transition: all .6s ease-in-out .5s;
}
.amf {
    transform: scale(2);
}
.show {
    transform: translateY(0);
    opacity: 1;
}
.loading {
    position: fixed;
    top: 0;
    overflow-x: hidden;
    width: 100%;
    z-index: 999;
}

.loading .line {
    background: #A12;
    height: 4px;
    width: 0;
}
.shake {
    animation: shake 1s ease-in-out;
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

/* 
@media screen and (max-width:768px) {
    .zoom-img-wrapper,
    .amplifier_img {
        width: 150px;
    }
    .amplifier_maxIndex {
        position: absolute;
    }
    .amplifier_scale {
        transform: scale(2.8);
    }
} */